@using ProjetoSite1.ViewModel;
@model CadastroUsuarioViewModel  

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <h3>Cadastro de Usuarios</h3>
    
    <form asp-controller="Account" asp-action="Cadastro" method="post">
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LastNameUser"></label>
        <input asp-for="LastNameUser" class="form-control" />
        <span asp-validation-for="LastNameUser" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Registrar"/>
    </div>
    </form>   
</body>
</html>